.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  &__shop-nav {
    margin-left: 253px;
  }
}

.logo {
  display: inline-block;
  width: 117px;
  height: 22px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-dark);
    object-fit: cover;
  }
}

.header-catalog {
  padding-top: 37px;
}
