.hero-catalog {
  padding-top: 130px;
  &__slider {
    overflow: hidden;
    width: 100%;
    background-color: var(--color-white-smoke);
  }
}

.catalog-slide {
  padding: 107px;

  &__title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 375px;
    font-weight: 700;
    font-size: 36px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 41px;
    max-width: 400px;
    font-size: 15px;
    line-height: 28px;
    color: var(--color-tundora);
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__link {
    display: inline-block;
    border: 1px solid var(--color-dark);
    padding: 16px 44px;
    font-size: 13px;

    &--dark {
      color: var(--color-white);
      background-color: var(--color-dark);
    }

    &--light {
      color: var(--color-dark);
      background-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}
