<header class="header header-catalog">
  <div class="container container-narrow header__container">
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="main-link nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="main-link nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="main-link main-link--current nav__link">Elements</a></li>
        <li class="nav__item"><a href="#" class="main-link nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="main-link nav__link">Page</a></li>
      </ul>
    </nav>
    <a href="#" class="logo header__logo" aria-label="logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo-zonex"></use>
      </svg>
    </a>
    <ul class="shop-nav header__shop-nav list-reset">
      <li class="shop-nav__item">
        <form action="#" class="shop-nav__search-form search-form">
          <button class="search-form__btn btn-reset" aria-label="Find"></button>
        </form>
      </li>
      <li class="shop-nav__item">
        <a href="#" class="shop-nav__link shop-nav__link--user" aria-label="Go to personal account"></a>
      </li>
      <li class="shop-nav__item">
        <a href="#" class="shop-nav__link cart" aria-label="Go to cart">
          <span class="cart__icon"></span>
          <span class="cart__quantity">3</span>
        </a>
      </li>
    </ul>
  </div>
</header>