<header class="header">
  <div class="container">
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--current">Elements</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Page</a></li>
      </ul>
    </nav>
  </div>
</header>
