// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1170px;
  --container-offset: 39px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #151515;
  --color-gray: #858585;
  --color-quill-grey: #e5e5e3;
  --color-cornflower-blue: #cfd1d0;
  --color-desert-storm: #eeeeec;
  --color-tundora: #454545;
}
